@keyframes fade {
  from {
    opacity: 0.01;
  }
  to {
    opacity: 1;
  }
}

html {
  color: #ffffff;
  animation-name: fade;
  animation-duration: 4s;
  transition-property: color;
  transition-duration: 4s;
}

body,
button {
  font-family: 'Playfair Display', serif, sans-serif;
  animation-name: fade;
  animation-duration: 4s;
  transition-property: background-color;
  transition-duration: 4s;
}

#quote-box {
  width: 50%;
  margin: 10% auto auto auto;
  padding: 1em;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
}

#text {
  font-size: 1rem;
}

@media (min-width: 992px) {
  #text {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  #text {
    font-size: 2rem;
  }
}

#author {
  font-size: 0.8rem;
}

@media (min-width: 992px) {
  #author {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  #author {
    font-size: 1.5rem;
  }
}

#buttons {
  overflow: auto;
}

button {
  font-size: 1.2rem;
  padding: 10px;
}

button:hover {
  opacity: 0.9;
}

#new-quote {
  display: inline;
  float: left;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

#tweet-quote-button {
  display: inline;
  float: right;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  width: 50px;
}

@media (max-width: 768px) {
  #new-quote,
  #tweet-quote-button {
    transform: scale(0.9);
  }
}

a {
  text-decoration: none;
  color: white;
}

#twitter-icon {
  transform: scale(1.5);
}

#footer {
  text-align: center;
  margin-top: 40px;
  font-family: sans-serif;
  color: #fff;
}
