html,
body {
  height: 100%;
  margin: 0;
}

html {
  color: #ffffff;
}

body,
button {
  font-family: 'Playfair Display', serif, sans-serif;
}

#root {
  height: 100%;
}

#text {
  font-size: 1rem;
}

@media (min-width: 992px) {
  #text {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  #text {
    font-size: 2rem;
  }
}

#author {
  font-size: 0.8rem;
}

@media (min-width: 992px) {
  #author {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  #author {
    font-size: 1.5rem;
  }
}

#buttons-container {
  overflow: auto;
}

button {
  font-size: 1.2rem;
  padding: 10px;
  -webkit-transition: 2s;
  -webkit-transition: 500ms;
  transition: 500ms;
}

button:hover {
  opacity: 0.9;
}

#new-quote {
  display: inline;
  float: left;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

#tweet-quote-button {
  display: inline;
  float: right;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  width: 50px;
}

@media (max-width: 768px) {
  #new-quote,
  #tweet-quote-button {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

a {
  text-decoration: none;
  color: white;
}

#twitter-icon {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

#footer {
  text-align: center;
  position: relative;
  top: 10rem;
  font-family: sans-serif;
  color: #fff;
}
