@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');

html,
body {
  height: 100%;
  margin: 0;
}

body,
button {
  font-family: 'Manjari', sans-serif;
}

#root {
  height: 100%;
}

button {
  -webkit-transition: 2s;
  -webkit-transition: 500ms;
  transition: 500ms;
}

button:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  #new-quote,
  #tweet-quote-button {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

a {
  text-decoration: none;
  color: white;
}

#twitter-icon {
  -webkit-transform: scale(2);
  transform: scale(2);
}

@media only screen and (min-width: 1024px) {
  #twitter-icon {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
